{% extends "base.html" %}

{% block title %}
Список тегов
{% endblock %}

{% block content%}
    <h1>{{name}}</h1>
    <hr>
    <ul>
        {% for item in tags %}
            <li>
                <a href="{% url 'blog:tag_detail' pk=item.pk %}">
                    {{ item.name }}
                </a>
                {% if request.user.is_superuser%}
                <a href="{% url 'blog:tag_update' pk=item.pk %}"> /Изменить</a>
                <a href="{% url 'blog:tag_delete' pk=item.pk %}"> /Удалить</a>
                {% endif %}
            </li>
        {% endfor %}

        <div class="clearfix">
            <div class="pagination">

            <span class="step-links">
                {% if page_obj.has_previous %}
{#                   <div class="d-flex justify-content-end mb-4">#}
                    <a class="btn btn-primary text-uppercase" href="?page={{ page_obj.previous_page_number }}">previous</a>
{#                    </div>#}
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-primary text-uppercase" href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}


            </span>
            </div>
        </div>
        <p>

        </p>
        <a href="{% url 'blog:tag_create' %}">Создать тег</a>

    </ul>

{% endblock %}